{:paths   ["src" "test" "resources" "classes"]
 :deps    {ch.qos.logback.contrib/logback-jackson      {:mvn/version "0.1.5"}
           ch.qos.logback.contrib/logback-json-classic {:mvn/version "0.1.5"}
           ch.qos.logback/logback-classic              {:mvn/version "1.5.8"}
           cheshire/cheshire                           {:mvn/version "5.13.0"}
           com.fasterxml.jackson.core/jackson-databind {:mvn/version "2.17.2"}
           compojure/compojure                         {:mvn/version "1.7.1"}
           nl.jomco/clj-http-status-codes              {:mvn/version "0.1"}
           nl.jomco/envopts                            {:mvn/version "0.0.4"}
           nl.surf/apie                                {:git/url "https://github.com/SURFnet/apie.git"
                                                        :git/tag "v0.2.1"
                                                        :git/sha "d1326bc79884351315c8220e1f71bfc94dee4433"}
           nl.surfnet/eduhub-validator                 {:git/url "https://github.com/SURFnet/eduhub-validator"
                                                        :git/sha "fe0b456e42abe218fe375b1a5f183bee46a6e222"
                                                        :git/branch "main"}
           org.babashka/http-client                    {:mvn/version "0.4.19"}
           org.babashka/json                           {:mvn/version "0.1.6"}
           org.clojure/clojure                         {:mvn/version "1.12.0"}
           org.clojure/core.memoize                    {:mvn/version "1.1.266"}
           org.clojure/tools.logging                   {:mvn/version "1.3.0"}
           ring/ring-codec                             {:mvn/version "1.2.0"}
           ring/ring-core                              {:mvn/version "1.12.2"}
           ring/ring-defaults                          {:mvn/version "0.5.0"}
           ring/ring-jetty-adapter                     {:mvn/version "1.12.2"}
           ring/ring-json                              {:mvn/version "0.5.1"}}
 :aliases
 {:test {:extra-deps {lambdaisland/kaocha {:mvn/version "RELEASE"}}
         :main-opts  ["-m" "kaocha.runner"]}
  :lint {:extra-deps {clj-kondo/clj-kondo {:mvn/version "RELEASE"}}
         :main-opts  ["-m" "clj-kondo.main" "--lint" "src" "test"]}
  :uberjar {:replace-deps  {uberdeps/uberdeps {:mvn/version "RELEASE"}}
            :replace-paths []
            :main-opts     ["-m" "uberdeps.uberjar"
                            "--main-class" "nl.surf.eduhub.validator.service.main"]}
  :repl {:main-opts ["-i" "src/nl/surf/eduhub/validator/service/main.clj"
                     "-e" "(in-ns,'nl.surf.eduhub.validator.service.main)"
                     "-r"]}}}
